Требования к приложению "Коктейльный калькулятор"

1)  Самодельная база данных
    1. Рецепты коктейлей
    2. 
2)  Хранение базы в памяти и в файле
3)  Постоянная синхронизация при обновлении



Классы:

    1. Коктейль
    2. Таблица бд (от нее наследуются конкретные таблицы)
    3. Ингредиент (будет складываться в вектор в классе коктейль)