Требования к приложению "Коктейльный калькулятор"

1)  Самодельная база данных
    1. Рецепты коктейлей : тип, ингредиенты, % алкоголя, лед, общий объем, стоимость
    2. Ингредиенты : название, объем, размерность, цена
    3. Шифрование файлов базы
    4. Поиск по базе
    5. Редактирование базы
2)  Хранение базы в памяти и в файле
3)  Постоянная синхронизация при обновлении
4)  Работа в консоли по страницам
5)  В качестве ингредиента может быть как продукт, так и другой ингредиент



Классы:

    1. Коктейль
    2. Таблица бд (от нее наследуются конкретные таблицы)
    3. Ингредиент - кол-во конкретного продукта(будет складываться в вектор в классе коктейль)
    4. Продукт